
.modal-header {
    div {
        margin: 10px auto;
        text-align: center;
    }
    span {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 28px;
        color: var(--lt-gray-900);
    }
}
.content {
    margin: 20px 0px;
    cursor: pointer;
    text-align: center;
    font-size: 0.83rem;
    line-height: 23px;
    color: var(--lt-gray-900);
    span {
        color: var(--lt-deep-orange);
    }
}
.filter-background {
    width: 32px !important;
    height: 33px !important;
    border-radius: 50%;
    top: -3px !important;
    z-index: 0;
    left: 164px !important;
}
.action-buttons {
    text-align: center;
    .cancel-button,
    .confirm-button {
        border-radius: 8px;
        padding: 10px;
        width: 100%;
        color: var(--lt-white);
    }
    .cancel-button {
        border: 1px solid var(--lt-gray-200);
        box-shadow: 0px 1px 2px var(--lt-gray-500) !important;
    }
    .confirm-button {
        background: var(--lt-deep-orange);
        border: 1px solid var(--lt-deep-orange);
        box-shadow: 0px 1px 2px var(--lt-gray-800);
    }
    
}
