<ng-container *ngIf="productSideBarOpen">
  <app-right-side-slider [displayPanel]="productSidebar" (closePanel)="closeRightSidebar()">
    <div class="w-px-700">
      <form [formGroup]="productForm">

        <div class="sidebar-header d-flex justify-content-between">
          <lt-form-header [header]="headerTittle"></lt-form-header>
          <div class="action-buttons d-flex c-gap-10">
            <lt-button [btnType]="'light-button'" (click)="closeRightSidebar()">Cancel</lt-button>
            <app-submit-button [placeholder]="saveTittle" [callback]="product_submit$" (submit)="save()">
            </app-submit-button>
          </div>
        </div>
        <div class="px-34 sidebar-scroll custom-scrollbar pt-4 position-relative">
          <div class="col-12  d-flex gap-16">
            <lt-textbox-outline [label]="'Name'" class="w-50" [required]="true" [type]="'text'" 
              formControlName="productName" [control]="productForm.get('productName')">
            </lt-textbox-outline>
            <lt-single-select [label]="'Size'" [items]="sizes" [required]="true" class="w-50" [control]="productForm.get('size')"
              formControlName="size">
            </lt-single-select>
          </div>

          <div class="col-12  d-flex gap-16">
            <lt-textbox-outline [label]="'Brand'" class="w-50" [required]="true" [type]="'text'"
              formControlName="brand" [control]="productForm.get('brand')">
            </lt-textbox-outline>

            <lt-textbox-outline class="w-50" formControlName="color" [control]="productForm.get('color')"
              [label]="'Color'" [type]="'text'" [required]="true">
            </lt-textbox-outline>
          </div>

          <div class="col-12  d-flex gap-16">
            <lt-textbox-outline [label]="'Code'" class="w-50" [required]="true" [type]="'text'"
              formControlName="code" [control]="productForm.get('code')">
            </lt-textbox-outline>

            <lt-textbox-outline class="w-50" formControlName="quantity" [control]="productForm.get('quantity')"
              [label]="'Quantity'" [type]="'text'" [required]="true">
            </lt-textbox-outline>
          </div>

          <!-- <div *ngFor="let location of locations">
            <mat-checkbox
            [checked]="selectedLocationIds.isSelected(location.id)"
            (change)="onLocationChange(location)"
          >
            {{ location.name }}
          </mat-checkbox>
          
          </div> -->

          <div *ngFor="let location of locations">
            <mat-checkbox
              [indeterminate]="isBulkEdit && getCheckboxState(location.id) === 'intermediate'"
              [checked]="isBulkEdit ? getCheckboxState(location.id) === 'checked' : selectedLocationIds.isSelected(location.id)"
              (change)="onLocationChange(location)">
              {{ location.name }}
            </mat-checkbox>
          </div>
          
     
        </div>
      </form>
    </div>
  </app-right-side-slider>
</ng-container>