<ng-container *ngIf="is_button; else customClickables">
    <wz-button [ng-class]="btnValidity ? 'cursor-pinter' : ''" [htmlType]="'submit'" [disabled]="disabledBtn" [btnValidity]="btnValidity"
        [customClass]="customClass" (click)="(disabled || !btnValidity) ? null : submitApi()">
        <span *ngIf="!disabled">{{ placeholder }}</span>
        <span class="btn-loader" *ngIf="disabled"></span>
    </wz-button>
</ng-container>

<ng-template #customClickables>
    <div (click)="disabled ? null : submitApi()">
        <ng-content>
        </ng-content>
    </div>
</ng-template>