<div class="auth-container">
    <div class="row auth-main">
      <div class="col-12 auth-form-section">
        <div class="form-section">
          <p class="mb-5 error-image text-center"><img src="assets/images/404-error.svg"></p>
          <div class="auth-wrapper ps-4">
            <span class="error-subheader p-b-5">
              Looks Like You're Lost
            </span>
            <span class="error-subheader2 p-b-5">
              The Page You Are Looking For Not Available!
            </span>
            <div class="container-auth-form-btn mt-5">
              <lt-button (click)="goToLogin()" [customClass]="'submit-button w-100'">
                Go To Home Page
              </lt-button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>