<div>
  <ng-container [ngSwitch]="btnType">
    <!-- Default Button -->
    <ng-container *ngSwitchDefault>
      <button mat-flat-button [ngStyle]="{width: btnWidth + 'px', color: color, background: background}"
       class="{{ customClass }}" [ngClass]="{'create-btn': btnValidity, 'orange-disabled-button pointer-events-none': !btnValidity}" [disabled]="disabled?true:null" [type]="htmlType">
        <div class="btn-text color-white">
          <ng-template *ngTemplateOutlet="buttonContent"></ng-template>
        </div>
      </button>
    </ng-container>

    <!-- no-border button -->
    <ng-container *ngSwitchCase="'no-border'">
      <button mat-button [ngStyle]="{width: btnWidth + 'px'}" [color]="btnColor(color)" class="{{ customClass }}" [disabled]="disabled?true:null"
        [type]="htmlType">
        <div class="btn-text">
          <ng-template *ngTemplateOutlet="buttonContent"></ng-template>
        </div>
      </button>
    </ng-container>

    <!-- Light Button -->
    <ng-container *ngSwitchCase="'light-button'">
      <button mat-button class="light-button" [ngStyle]="{width: btnWidth + 'px'}" [color]="btnColor(color)"
        [ngClass]="getActiveClass()"
        class="{{ customClass }}" [disabled]="disabled?true:null" [type]="htmlType">
        <div class="btn-text"> <ng-template *ngTemplateOutlet="buttonContent"></ng-template></div>
      </button>
    </ng-container>

    <!-- No Background Button -->
    <ng-container *ngSwitchCase="'no-background'">
      <button mat-button [ngStyle]="{width: btnWidth + 'px'}" 
        class="save-btn {{ customClass }}" [disabled]="disabled?true:null" [type]="htmlType"> 
        <div class="btn-text"> <ng-template *ngTemplateOutlet="buttonContent"></ng-template></div>
      </button>
    </ng-container>

    <!-- Animated Button -->
    <ng-container *ngSwitchCase="'animated-button'">
      <button class="orange-animation-button" mat-button [ngStyle]="{width: btnWidth + 'px'}" [color]="btnColor(color)"
        class="{{ customClass }}" [disabled]="disabled?true:null">
        <div class="d-flex c-gap-3 btn-text color-white">
          <ng-container *ngIf="icon && iconPrefix">
            <lt-icon [name]="iconName" [type]="iconType" [customClass]="'bg-transparent'" [iconClass]="'icon-18'"></lt-icon>
          </ng-container>
          <ng-template *ngTemplateOutlet="buttonContent"></ng-template>
          <ng-container *ngIf="icon && !iconPrefix">
            <lt-icon [name]="iconName" [type]="iconType" [customClass]="'bg-transparent'" [iconClass]="'icon-18'"></lt-icon>
          </ng-container>
        </div>
      </button>
    </ng-container>

    <!--Scale Animated Button -->
    <ng-container *ngSwitchCase="'scale-animated-button'">
      <button class="orange-scale-animate-button" mat-button [ngStyle]="{width: btnWidth + 'px'}"
        [color]="btnColor(color)" class="{{ customClass }}" [disabled]="disabled?true:null">
        <div class="d-flex c-gap-3 btn-text color-white">
          <ng-container *ngIf="icon && iconPrefix">
            <lt-icon class="align-content-baseline" [name]="iconName" [type]="iconType" [imgClass]="'m-0'" [customClass]="'bg-transparent'" [iconClass]="iconClass"></lt-icon>
          </ng-container>
          <ng-template *ngTemplateOutlet="buttonContent"></ng-template>
          <ng-container *ngIf="icon && !iconPrefix">
            <lt-icon class="align-content-baseline" [name]="iconName" [type]="iconType" [imgClass]="'m-0'" [customClass]="'bg-transparent'" [iconClass]="iconClass"></lt-icon>
          </ng-container>
        </div>
      </button>
    </ng-container>

    <!-- dropdown button -->
    <ng-container *ngSwitchCase="'dropdown'">
      <button class="dropdown-button" [color]="btnColor(color)" [ngStyle]="{width: btnWidth + 'px'}"
        class="{{ customClass }} btn_dropdown" [disabled]="disabled?true:null" [type]="htmlType"
        (click)="buttonClick()">
        <ng-template *ngTemplateOutlet="buttonContent"></ng-template>
        <mat-icon matSuffix [matMenuTriggerFor]="aboveMenu">keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item *ngFor="let format of formats"
          (click)="$event.stopPropagation(); optionSelection($event, format)"> {{ format }} </button>
      </mat-menu>
    </ng-container>

    <!--outline button -->
    <ng-container *ngSwitchCase="'outline'">
      <button class="outline-button" (click)="toggleMenu()" [color]="btnColor(color)"
        [ngStyle]="{width: btnWidth + 'px', height:btnHeight + 'px'}" class="{{ customClass }} "
        [disabled]="disabled?true:null" [type]="htmlType" (click)="buttonClick()">
        <div class="btn-text color-secondary"><ng-template *ngTemplateOutlet="buttonContent"></ng-template></div>
      </button>
    </ng-container> 
    
    <!--outline dropdown button -->
    <ng-container *ngSwitchCase="'outline-dropdown'">
      <div class="outline-dropdown"  class="{{ customClass }}">
        <ul [color]="btnColor(color)" [ngStyle]="{ width: btnWidth + 'px', height:btnHeight + 'px' }" [class.position-left]="position === 'left'"
          class=" outline-dropdown-menu" [disabled]="disabled?true:null" [type]="htmlType"
          (click)="buttonClick()" [class.dropdown-expand]="openDropdown === true" (appClickOutside)="openDropdown = false" [style.zIndex]="zIndex" class="{{ btnClass }}" [style.height]="openDropdown? expandHeight+'px !important' : ''" [style.width]="openDropdown ? expandWidth + 'px !important' : ''" > 
           <ng-template *ngTemplateOutlet="buttonContent"></ng-template>     
        </ul>
      </div>
    </ng-container>

    <!--outline dropdown button model 2 -->
    <ng-container *ngSwitchCase="'outline-dropdown-2'">
      <div class="position-relative custom-filter">
        <div [ngStyle]="{ width: btnWidth + 'px', height:btnHeight + 'px' }" class=" lt-border-secondary cursor-pointer px-6 py-1 rounded-1 {{ !btnWidth ? filter ? 'w-px-100' : 'w-px-79' : '' }} rounded-1 hover-bg-col-secondary-100"
          [class.yearDropdown]="openDropdown" [style.z-index]="200"
          (click)="openDropdown = !openDropdown;$event.stopPropagation()">
          <div class="filter-border rounded-1 bg-white">
            <div class="d-between ">
              <lt-icon *ngIf="filter" [name]="'filter'" [iconClass]="'icon-15'"></lt-icon>
              <div class="font-12 font-weight-400 color-secondary cursor-pointer pal-3" (click)="optionSelection($event, activeAction)">
                {{ activeAction | titlecase}}</div>
              <img src="assets/images/icons/down-arrow.svg" alt="" [class.rotate-180]="openDropdown">
            </div>
          </div>
        </div>
      
        <div [class.d-none]="!openDropdown" [ngStyle]="{ width: btnWidth + 'px', height:btnHeight + 'px' }"
          class="position-absolute rounded-1 top-33 bg-white {{ !btnWidth ? filter ? 'w-px-100' : 'w-px-79' : '' }} z-index-9999 lt-box-shadow">
          <div class="" (appClickOutside)="openDropdown = false">
            <div *ngFor="let action of dropdownList;index as i">
              <div class="font-12 font-weight-400 {{ filter ? 'pl-22' : 'pl-12'}} cursor-pointer gray-600 hover-col-secondary filter-hover p-1 text-start"
                (click)="activeAction = action;openDropdown = false;optionSelection($event, activeAction)"><span
                  [ngStyle]="{'color': activeAction === action ? 'var(--lt-secondary)' : '' }">{{ action | titlecase }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Avatar button -->
    <ng-container *ngSwitchCase="'avatar'">
      <button class="btn-avatar " 
        class="{{ customClass }} "
        [ngClass]="getActiveClass()" >
        <lt-icon [name]="iconName" [iconClass]="iconClass" [customClass]="'bg-transparent'"></lt-icon>
        <span [color]="btnColor(color)" [ngStyle]="{ width: btnWidth + 'px', height:btnHeight + 'px' }"
          [disabled]="disabled?true:null" [type]="htmlType" (click)="buttonClick()">
          <div class="btn-text {{ textClass }}"> <ng-template *ngTemplateOutlet="buttonContent"></ng-template></div>
        </span>
      </button>
    </ng-container>
    </ng-container>

<!-- Button Content Template -->
<ng-template #buttonContent>
  <ng-content></ng-content>
 </ng-template>

</div>