.page-content {
  height: calc(100vh - 86px);
  margin-top: 16px;
  overflow-x: hidden;
}

.section-header-padding {
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
}

.orange-badge {
  background: rgba(244, 86, 0, 0.05) !important;
  color: rgb(244, 86, 0) !important;
  border: 1px solid rgb(244, 86, 0) !important;
  height: 20px !important;
  padding: 9px 5px;
  line-height: 0;

  .active-icon {
    display: none;
  }
}

  .sidebar-header {
    padding: 9px 33px 10px 33px;
    align-items: center;
    height: 50px;
    background-color: #e9ebee;
    position: sticky;
    top: 0;
    z-index: 11;
  }
  